.main-menu{
    flex-grow: 1;
    /* background-color: rgb(0,0,17); */
}

.main-menu__title{
    flex-basis: 45%;
    flex-grow: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-menu__title--label{
    -unity-font: resource('06_Fonts/NeutronsDemoRegular');
    -unity-font-definition: resource('06_Fonts/NeutronsDemoRegular ASCII');
    font-size: 168px;
}

.main-menu__title--label_left{
    color: rgb(0, 191, 243);
    -unity-text-align: lower-right;
}

.main-menu__title--label_right{
    color: rgb(237, 0, 140);
    -unity-text-align: lower-left;
    margin-left: 50px;
}

.main-menu___elements-container{
    flex-basis: 55%;
    flex-grow: 2;
    align-items: center;
    justify-content: space-around;
}

.main-menu__btn-container{
    flex-grow: 3;
    width: 25%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.unity-label {
    padding: 0px;
}