.main-menu {
    flex-grow: 1;
}

.main-menu__title {
    flex-basis: 35%;
    flex-grow: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-menu__title--label {
    -unity-font: resource('06_Fonts/NeutronsDemoRegular');
    -unity-font-definition: resource('06_Fonts/NeutronsDemoRegular ASCII');
    font-size: 168px;
}

.main-menu__title--label_left {
    color: rgb(0, 191, 243);
    -unity-text-align: lower-right;
}

.main-menu__title--label_right {
    color: rgb(237, 0, 140);
    -unity-text-align: lower-left;
    margin-left: 50px;
}

.main-menu___elements-container {
    flex-basis: 55%;
    flex-grow: 2;
    align-items: center;
    justify-content: space-around;
}

.main-menu__btn-container {
    flex-grow: 3;
    width: 25%;
    margin-bottom: 47.5px;
    margin-top: 47.5px;
}

.main-menu__design-by {
    color: rgb(189, 204, 212);
    font-size: 31;
    -unity-text-align: middle-right;
}

.main-menu__pablo {
    color: #00BFF3;
    font-size: 31;
    -unity-text-align: middle-right;
}

.main-menu__pablo:hover{
    color: rgb(237, 0, 140);
}

.main-menu__version {
    position: absolute;
    flex-basis: 25%;
    left: 50px;
    bottom: 25px;
    width: 385;
    height: 75;
    background-color: rgb(26, 26, 26);
    color: rgb(237, 0, 140);
    font-size: 42;
    -unity-text-align: middle-center;
    border-bottom-width: 2.5px;
    border-color: #00BFF3;
}

.main-menu__version:hover {
    border-color: rgb(237, 0, 140);
    color: #00BFF3;
}

.unity-label {
    padding: 0;
}

Label {
    -unity-font-definition: resource('06_Fonts/Fastron SDF');
}
