.square-button{
    flex-grow: 1;
}

.square-button__root-aspect-ratio {
    flex-grow: 1;
    /* min-height: 100%; */
}

.square-button__back {
    flex-grow: 1;
    border-width: 10px;
    border-color: white;
    transition-duration: 0.1s;
}

.square-button__back:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.square-button__back:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.square-button__next {
    flex-grow: 1;
    border-width: 10px;
    border-color: white;
    transition-duration: 0.1s;
}
.square-button__next:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.square-button__next:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.unity-button {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
}