.square-button{
    flex-grow: 1;
}

.button__root-aspect-ratio {
    flex-grow: 1;
}

.button__back {
    flex-grow: 1;
    border-width: 10px;
    border-color: #333333;
    transition-duration: 0.1s;
}

.button__back:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.button__back:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.button__next {
    flex-grow: 1;
    border-width: 10px;
    border-color: #333333;
    transition-duration: 0.1s;
}
.button__next:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.button__next:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.button__menu{
    flex-grow: 1;
    border-width: 5px;
    border-color: rgb(242, 242, 242);
    transition-duration: 0.1s;
    color: rgb(0, 191, 243);
    -unity-font-definition: resource('06_Fonts/NeutronsDemoRegular ASCII');
    -unity-text-align: middle-center;
    font-size: 42px;
    justify-content: center;
}
.button__menu:hover{
    border-width: 10px;
    border-color: rgb(0, 191, 243);
}
.button__menu:active{
    border-width: 5px;
    border-color: rgb(237, 0, 140);
}

.button__preset{
    transition-duration: 0.1s;
    -unity-font-definition: resource('06_Fonts/Fastron SDF');
    -unity-text-align: middle-center;
    font-size: 48px;
    color: #BDCCD4;
    border-width: 5px;
    border-radius: 0%;
    border-color: rgb(63, 169, 245);
    background-color: rgba(0,0,0,0);
}

.button__preset:focus{
    transition-duration: 0.1s;
    border-radius: 100%;
    border-width: 5px;
    border-color: rgb(237, 0, 140);
    background-color: rgba(0,0,0,0);
}

.button__icon{
    transition-duration: 0.1s;
    border-width: 10px;
    border-radius: 0px;
    border-color: #333333;
    background-color: #1A1A1A;
    justify-content: center;
    align-items: center;
}

.button__icon:hover{
    border-color: rgb(0, 191, 243);
}

.button__icon:active{
    border-color: rgb(237, 0, 140);
}