.square-button{
    flex-grow: 1;
}

.button__root-aspect-ratio {
    flex-grow: 1;
}

.button__back {
    flex-grow: 1;
    border-width: 10px;
    border-color: white;
    transition-duration: 0.1s;
}

.button__back:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.button__back:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
}

.button__next {
    flex-grow: 1;
    border-width: 10px;
    border-color: white;
    transition-duration: 0.1s;
}
.button__next:hover {
    flex-grow: 1;
    border-width: 15px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.button__next:active {
    flex-grow: 1;
    border-width: 20px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
}

.button__menu{
    flex-grow: 1;
    border-width: 5px;
    border-color: rgb(242, 242, 242);
    transition-duration: 0.1s;
    color: rgb(0, 191, 243);
    -unity-font-definition: resource('06_Fonts/NeutronsDemoRegular ASCII');
    -unity-text-align: middle-center;
    font-size: 63px;
    justify-content: center;
}
.button__menu:hover{
    flex-grow: 1;
    border-width: 10px;
    border-color: rgb(237, 0, 140);
    transition-duration: 0.1s;
    color: rgb(0, 191, 243);
}
.button__menu:active{
    flex-grow: 1;
    border-width: 5px;
    border-color: rgb(0, 191, 243);
    transition-duration: 0.1s;
    color: rgb(237, 0, 140);
}

.unity-button {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
}