.unity-label {
    -unity-font: resource('06_Fonts/Fastron');
    -unity-font-definition: resource('06_Fonts/Fastron SDF');
    -unity-text-align: middle-center;
    font-size: 42px;
    color: rgb(237, 0, 140);
    background-color: rgb(26, 26, 26);
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.value-changer {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    max-height: 55px;
}

.value-changer__definition {
    flex-basis: 50%;
}
.value-changer__value {
    flex-basis: 30%;
    color: #BDCCD4;
}

.value-changer__value-container {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.value-changer__container {
    flex-direction: row;
    justify-content: center;
    flex-basis: 40%;
    align-items: stretch;
}

.value-changer__btn-container {
    flex-grow: 1;
    justify-content: space-between;
}

.value-changer__definition-container {
    flex-grow: 1;
}
